<h3>Edit Account</h3>

<form class="account-form">
	<fieldset>
		<div class='form-errors'></div>
		<label for="username">Username</label>
		<input name="username" type="text" value="<%= username %>"/>
		<label for="email">Email</label>
		<input name="email" type="text" value="<%= email %>"/>
		<label for="password">Change Password</label>
		<input name="password" type="password"/>
		<label for="password_confirmation">Password Confirmation</label>
		<input name="password_confirmation" type="password"/>
		<br>
		<button type="submit" class="btn">Submit</button>
	</fieldset>
</form>
